@import '../../../../utilities/styles/_mixin';

.cn_page {
    padding: 1.5rem 0;

    &_header {

        &_wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0;

            h1 {
                color: color(cn_black_text);
                font-size: 1.8rem;
                font-weight: 400;
                letter-spacing: 0.05rem;
            }

            button {
                height: 3rem;
                width: 3rem;
                padding: 0.5rem;
                border-radius: 1.5rem;
                background: linear-gradient(to right bottom, color(cn_prime_1), color(cn_prime_2));
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 600;
                color: color(cn_white);
                position: relative;
                transition: all 0.2s ease-in-out;
                box-shadow:
                    0 0 0 3px lighten($color: color(cn_prime_1), $amount: 15);

                span {
                    width: 2rem;
                    aspect-ratio: 1;
                    border-radius: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 
                        background-color 0.2s ease-in-out,
                        transform 0.2s ease-in-out 0.2s;

                    svg {
                        height: 1.15rem;
                        aspect-ratio: 1/1;
                        fill: color(cn_white);
                        transition: fill 0.2s ease-in-out;
                    }
                }

                p {
                    color: color(cn_white);
                    font-size: 1rem;
                    letter-spacing: 0.035rem;
                    font-weight: 300;
                    padding: 0 .65rem;
                    white-space: nowrap;
                    position: absolute;
                    top: 50%;
                    right: 0.5rem;
                    transform: translateY(-50%);
                    opacity: 0;
                    transition: all 0.2s ease-in-out;
                }

                &:hover {
                    width: 160px;                    

                    p {
                        opacity: 1;
                    }
                    
                    span {
                        transform: rotate(90deg);
                        background-color: color(cn_white);

                        svg {
                            fill: color(cn_prime_1);
                        }
                    }
                }
            }
        }

        .cn_page_search {
            height: 55px;
            background: color(cn_surface_gray);
            border-radius: 20px;
            display: flex;
            transition: all 0.2s ease-in-out;

            &:hover {
                box-shadow: 
                    0 0 0 3px darken($color: color(cn_surface_gray), $amount: 40),
                    0 0 0 6px darken($color: color(cn_surface_gray), $amount: 10);
            }

            &:focus-within {
                box-shadow: 
                    0 0 0 3px darken($color: color(cn_surface_gray), $amount: 25),
                    0 0 0 6px darken($color: color(cn_surface_gray), $amount: 10);
            }

            > div {
                height: 53px;
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    height: 1.15rem;
                    aspect-ratio: 1/1;
                }
            }

            input {
                flex: 1;
                font-size: 1.15rem;
                font-weight: 500;

                &::placeholder {
                    font-weight: 400;
                }
            }
        }
    }

    &_body {

        .cn_projects_list {
            margin-top: 2rem;

            &_wrap {  
                display: flex;
                flex-direction: column;

                .cn_projects_list_item {
                    background-image: linear-gradient(to right bottom, rgba(color(cn_surface_gray), 0.8), rgba(color(cn_surface_gray), 0.15));
                    box-shadow: 0 0 0 1px darken($color: color(cn_surface_gray), $amount: 1);
                    border-radius: 20px;
                    margin-bottom: 1.25rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1rem;
                    border-radius: 2rem;
                    position: relative;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        box-shadow: 
                            0 0 0 3px lighten($color: color(cn_back_accent_1), $amount: 17.5),
                            0 0 0 6px lighten($color: color(cn_back_accent_1), $amount: 25);

                        &:after {
                            content: none;
                        }

                        .cn_icon {

                            svg {
                                transform: rotate(180deg);
                            }
                        }
                    }   

                    &_main {
                        display: flex;
                        align-items: center;
                        
                        .cn_icon {
                            height: 3rem;
                            aspect-ratio: 1;
                            border-radius: 50%;
                            background-image: linear-gradient(to right bottom, color(cn_back_accent_1), lighten(color(cn_back_accent_1), 15));
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 0.8rem;
                            transition: all 0.2s ease-in-out;
    
                            svg {
                                height: 1.5rem;
                                aspect-ratio: 1;
                                fill: color(cn_surface_gray);
                                transition: all 0.2s ease-in-out;
                            }
                        }

                        .cn_project_info {

                            .cn_project_name {
                                font-size: 1.1rem;
                                letter-spacing: 0.035rem;
                                color: color(cn_black_text);
                                font-weight: 600;
                                margin-bottom: 0.25rem;
                            }

                            .cn_project_badge {
                                width: fit-content;
                                background-image: linear-gradient(to right, rgba(color(cn_back_accent_1), 0.15), transparent 80%);
                                border-left: 2.5px solid lighten($color: color(cn_back_accent_1), $amount: 15);
                                border-radius: 8px;
                                padding: 0.15rem 0.35rem;

                                p {
                                    font-size: 0.85rem;
                                    letter-spacing: 0.25px;
                                    color: color(cn_dark);
                                }
                            }
                        }
                    }

                    &_control {
                        display: flex;
                        align-items: center;

                        .cn_project_team_members {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;

                            @mixin team-member-common {
                                height: 42px;
                                aspect-ratio: 1;
                                border-radius: 50%;
                                overflow: hidden;
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                box-shadow: -5px 0 15px 0 rgba($color: color(cn_dark), $alpha: 0.1);
                                margin-left: -14px;
                            }
                            
                            .cn_project_team_member_add {
                                @include team-member-common;
                                height: 36px;
                                background-color: color(cn_surface_gray);
                                outline: 2px solid color(cn_white);
                                transform-origin: center;
                                transition: all 0.2s ease-in-out;

                                svg {
                                    height: 0.75rem;
                                    aspect-ratio: 1;
                                    fill: color(cn_dark);
                                    transition: all 0.2s ease-in-out;
                                }

                                &:hover {
                                    background-color: color(cn_dark);
                                    outline: 2px solid color(cn_surface_gray);

                                    svg {
                                        fill: color(cn_white);
                                        transform: rotate(90deg);
                                    }
                                }
                            }

                            .cn_project_team_member_item {
                                @include team-member-common;
                                border: 2px solid color(cn_surface_gray);                                    

                                img {
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }
                        }

                        .cn_projects_list_item_content_inner {
                            display: flex;
                            align-items: center;

                            .cn_project_badge {
                                margin-left: 0.75rem;
                                background-image: linear-gradient(to right bottom, rgba(color(cn_white), 0.5), transparent 80%);
                                box-shadow: 0 0 0 1px color(cn_surface_gray);
                                border-radius: 14px;
                                padding: 0.35rem 0.65rem;

                                p {
                                    color: color(cn_dark);
                                    letter-spacing: 0.035rem;

                                    &.cn_project_badge_label {
                                        font-size: 0.65rem;
                                        font-weight: 200;
                                        padding-bottom: 0.1rem;
                                    }

                                    &.cn_project_badge_value {
                                        font-size: 0.775rem;
                                        font-weight: 600;

                                        span {
                                            font-weight: bold;
                                            color: color(cn_prime_1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}