$colors: (
    cn_surface_gray: #E8EBEC,
    cn_prime_1: #4B98FF,
    cn_prime_2: #0D72FD,
    cn_dark: #24272F,
    cn_back_accent_1: #CE6869,
    cn_back_accent_2: #F0F423,
    cn_back_accent_3: #11F287,
    cn_back_accent_4: #DAFDBB,

    cn_back_surface: #EFEEFF,
    cn_back_surface_1: #F6FAF6,
    cn_back_surface_2: #E5EAE5,
    cn_back_surface_3: #FFC8C8,
    cn_back_surface_4: #C7E3FE,
    cn_back_surface_5: #FFE9B5,
    cn_blue: #2558ED,
    cn_pale_yellow: #E1FFC4,
    cn_back_gray: #EFF4F9,
    cn_black_text: #010101,
    cn_lgt_text: #888888,
    cn_white: #ffffff,
    cn_border: #e0e0e0
);

// background-color:#b4d7c0;
// background-image:repeating-linear-gradient(
//   -45deg,
//   #283f59 0,
//   #283f59 2px,
//   transparent 2px,
//   transparent 4px
// );
// height:100vh;

@mixin xs {
    @media (max-width: 400px) {
        @content;
    }
}

@mixin sm {
    @media (max-width: 550px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin mini-tab {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin tab {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin mini-desk {
    @media (max-width: 1258px) {
        @content;
    }
}

@mixin desk {
    @media (max-width: 1440px) {
        @content;
    }
}

@mixin fourk {
    @media (min-width: 2200px) {
        @content;
    }
}

@function color($color-name) {
    @return map-get($colors, $color-name);
}

@mixin contain {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.65rem;
    padding-right: 1.65rem;
}