@import '../../../utilities/styles/_mixin';

.cn_outer {
    min-height: 100vh;
    position: relative;
    padding: 4rem 0;

    .cn_bg {
        position: absolute;
        top: 1rem;
        left: 1rem;
        right: 1rem;
        bottom: 50%;
        background: url('../../../../../public/textures/noise.png') repeat, linear-gradient(darken(color(cn_blue), 50) 14%, darken(color(cn_blue), 35) 80%, darken(color(cn_blue), 20));
        border-radius: 1.5rem;
        z-index: -1;

        @include sm {
            inset: 0 0 50% 0;
            border-radius: 0;
        }
    }
    
    .cn_inner {
        margin: 0 auto;
        width: 32rem;
        max-width: calc(100% - 4rem);
        padding: 2rem;
        border-radius: 1.5rem;
        background-color: color(cn_white);
        box-shadow: 0 2px 18px rgba(darken(color(cn_blue), 45),.23);

        .cn_logo_wrap {
            height: 4rem;
            aspect-ratio: 1/1;

            svg {
                height: 100%;
                width: 100%;
            }
        }

        .cn_title_wrap {
            margin: 2rem 0;
            
            h1 {
                font-size: 1.63rem;
                line-height: 1.2;
                letter-spacing: -0.01rem;
                color: color(cn_black_text);
                font-weight: 700;
                margin-bottom: 0.75rem;
            }

            p {
                font-size: 1.075rem;
                line-height: 1.4;
                letter-spacing: 0.03rem;
                color: color(cn_black_text);
                font-weight: 300;
                max-width: 85%;
            }
        }

        .cn_form_wrap {

            form {
                display: block;

                .cn_input_wrap {
                    position: relative;
                    margin-bottom: 1.2rem;
    
                    label {
                        display: block;
                        font-size: 1rem;
                        line-height: 1.35;
                        font-weight: 500;
                        letter-spacing: 0.2px;
                        padding-left: 0.2rem;
                        margin-bottom: 0.25rem;
                    }
                    
                    .cn_input {
                        display: block;
                        width: 100%;
                        height: 3.5rem;
                        background-color: color(cn_white);
                        border: 0.1rem solid rgba($color: color(cn_dark), $alpha: 0.15);
                        outline: 3px solid transparent;
                        box-shadow: 2px 2px 20px 0 rgba($color: color(cn_dark), $alpha: 0.025);
                        padding: 0 1rem;
                        border-radius: 0.78rem;
                        font-size: 1.05rem;
                        letter-spacing: 0.35px;
                        font-weight: 500;
                        color: color(cn_black_text);
                        transition: all 0.2s ease-in-out;

                        &::placeholder {
                            font-weight: 400;
                            color: color(cn_lgt_text);
                        }

                        &:active, &:focus {
                            border-color: lighten($color: color(cn_blue), $amount: 20);
                            outline-color: rgba($color: color(cn_blue), $alpha: 0.1);
                        }
                    }
    
                    .error_msg {
                        margin-top: 0.5rem;
                        width: fit-content;
                        padding: 5px 8px;
                        line-height: 1.2;
                        color: color(cn_dark);
                        font-size: 0.75rem;
                        background-color: color(cn_back_gray);
                        border-radius: 0.5rem;
                    }
                }

                button[type=submit] {
                    margin-top: 1.8rem;
                    height: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: linear-gradient(to right bottom, lighten(color(cn_blue), 15), color(cn_blue));
                    padding: 0 0.4rem 0 1rem;
                    border-radius: 0.78rem;
                    font-size: 1rem;
                    font-weight: 600;
                    color: color(cn_white);
                    box-shadow: 0;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        box-shadow:
                            0 0 0 3px rgba($color: color(cn_blue), $alpha: 0.5),
                            0 0 0 6px rgba($color: color(cn_blue), $alpha: 0.1);
                    }

                    span {
                        display: block;
                        min-width: 8.5rem;
                        text-align: left;
                    }

                    div {
                        height: 2.2rem;
                        aspect-ratio: 1/1;
                        background-color: color(cn_white);
                        border-radius: 0.55rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-shadow: 0 2px 18px rgba(darken(color(cn_blue), 45),.23);

                        svg {
                            height: 1.25rem;
                            aspect-ratio: 1/1;
                            fill: color(cn_blue);
                        }
                    }
                }
            }
        }
    }
}