@import '../../../../utilities/styles/_mixin';

.cn_header {

    .cn_header_wrap {
        padding: 1rem 4%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_inner {
            display: flex;
            align-items: center;
            flex: 1;

            .cn_logo_wrap {
                display: flex;
                align-items: center;
             
                svg {
                    height: 3rem;
                    aspect-ratio: 1/1;
                }
    
                p {
                    font-size: 1.25rem;                
                    color: color(cn_black_text);
                    letter-spacing: 0.2px;
                    font-weight: 200;
                    margin-left: 0.5rem;
                }
            }
    
            .cn_menu {
                display: flex;
                align-items: center;
                margin-left: 5%;
    
                li a {
                    font-size: 1rem;
                    letter-spacing: 0.035rem;
                    font-weight: 500;
                    padding: 1rem 1.45rem;
                    display: flex;
                    align-items: center;
                    border-radius: 20px;
                    background-color: color(cn_surface_gray);
                    margin: 0 .5rem;
                    transition: all 0.2s ease-in-out;

                    svg {
                        width: 18px;
                        aspect-ratio: 1/1;
                        margin-right: 0.75rem;
                    }

                    &:hover:not(.cn_active) {
                        box-shadow: 
                            0 0 0 3px darken($color: color(cn_surface_gray), $amount: 40),
                            0 0 0 6px darken($color: color(cn_surface_gray), $amount: 10);
                    }

                    &.cn_active {
                        background: color(cn_dark);
                        color: color(cn_white);

                        svg {
                            fill: color(cn_white);
                        }
                    }
                }
            }
        }

        .cn_other_controls {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            button {
                height: 50px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background-color: color(cn_surface_gray);
                margin-left: 1rem;
                transition: all 0.2s ease-in-out;

                img {
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }

                svg {
                    height: 18px;
                    aspect-ratio: 1/1;
                }

                &:hover {
                    background-color: lighten($color: color(cn_surface_gray), $amount: 5);
                    box-shadow: 
                        0 0 0 3px lighten($color: color(cn_prime_1), $amount: 2.5),
                        0 0 0 6px color(cn_surface_gray);
                }
            }
        }
    }
}